<main id="restaurants">
	{{#each restaurants}}
	<article>
		<h2>{{name}}</h2>
		<h3>{{address}}</h3>
		<h3 class="category">{{category}}</h3>
		<p>{{rating}}</p>

		<p>Lowkey is {{name}} wel garbo.</p>

		<form action="/details" method="post">
			<input type="hidden" name="title" value="{{name}}">
			<input type="submit" value="Menu">
		</form>
	</article>
	{{/each}}
</main>