<main id="restaurants">
	{{#each restaurants}}
	<article>
		<h2>{{name}}, <span>{{rating}}*</span></h2>
		<h3>{{address}}</h3>
		<h3 class="category">{{category}}</h3>

		<form action="/details" method="post">
			<input type="hidden" name="title" value="{{name}}">
			<input type="submit" value="Check menu">
		</form>
	</article>
	{{/each}}
</main>